# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
build/*

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Local specific files
.DS_Store
.vscode

# Docker Storage Files
env/storage/
deploy/storage/

# API Documentation
docs/swagger

#Go
vendor/

# Configuration File
etc/cfg/*

# Environment Variables
.env
*/*.env

# Caaddy file production
deploy/caddy/caddy.production.dockerfile
deploy/caddy/Caddyfile.production
deploy/caddy_config/*
deploy/caddy_data/*

# Docs sql file
./docs/sql/temp.sql
